<div class="container">
    <div class="home" id="home2">
        <div class="presentation">
            <div class="text">
                <h6>Hello, I am</h6>
                <h1>Daniel Espitia</h1>
                <p class="typing-effect">I’m a Front-End Developer</p>
                <div class="desc">
                    <p>
                        I design and develop engaging and responsive websites, web
                        applications, and online stores for a diverse range of clients,
                        specializing in creating stylish, user-friendly interfaces.
                    </p>
                </div>
                <div class="icons">
                    <a href="https://github.com/zLucky090802" target="_blank"><img src="/github-mark-white.webp"
                            alt="" /></a>
                    <a href="https://www.linkedin.com/in/daniel-espitia-95848731b/" target="_blank"><img
                            src="/In-White-14.webp" alt="" /></a>
                </div>
                <button class="button">Download Cv</button>
            </div>
            <!-- <img src="/profilePicture.jpg" alt="" /> -->
        </div>
    </div>
   

    <div class="cards-services" id="">
        <h3>What do i?</h3>
        <hr>
        <div class="cards" id="services">
            <app-card [titleService]="'Web Development'" [icon]="'computer'" [desc]="'Transforming ideas into visually appealing, user-friendly websites and applications. Specializing in creating responsive layouts, intuitive interfaces, and dynamic features using laguages like angular, rxjs operators and more.'" [proyectCard]="false">               </app-card> 

           <app-card [titleService]="'Web Design'" [icon]="'design_services'" [desc]="'Creating visually engaging and easy-to-navigate website designs by emphasizing clean aesthetics, user-centric functionality, and responsive layouts. Dedicated to implementing best practices in design to ensure a seamless and intuitive user experience across all devices.'" [proyectCard]="false"></app-card>

           <app-card  [titleService]="'mobile app development'" [icon]="'devices'" [desc]="'Building dynamic and responsive web interfaces with a focus on intuitive design and user interaction. Utilizing HTML, CSS, and JavaScript to create engaging, high-performance websites. Adept at implementing modern frameworks and ensuring cross-browser compatibility for a seamless user experience.'" [proyectCard]="false"></app-card>
           
           <app-card [titleService]="'process automation'" [icon]="'language'" [desc]="'Enhancing operational efficiency through process automation by leveraging Angular for interactive front-end development, SQL for robust data management, and JavaScript, HTML, and CSS for creating responsive and user-friendly web interfaces. '" [proyectCard]="false"></app-card>
    
           
        </div>    


    </div>

    
    <div class="cards-services" id="projects">
        <h3>Proyects</h3>
        <hr>
        <div class="cards" id="services">
            <app-card [img]="'/coffeeShop.webp'" [proyectCard]="true" [titleService]="'CoffeeShop'" [desc]="'Angular application that simulates a coffee products store with an integrated shopping cart. Provides an intuitive user experience for exploring and purchasing coffee-related products.'" [link]="'https://github.com/zLucky090802/coffee'">               </app-card> 
            <app-card [img]="'/infoMovies.webp'" [proyectCard]="true" [titleService]="'InfoMovies'"[desc]="'Angular application for exploring movie information, integrating multiple APIs with authentication and reactive programming. Provides a dynamic and detailed experience for users interested in cinema.'" [link]="'https://github.com/zLucky090802/infoMovies'"></app-card>
            <app-card [img]="'/heroesApp.webp'" [proyectCard]="true" [titleService]="'HeroesApp'"[desc]="'The Hero App System is an interactive web application developed with Angular that allows users to manage a list of heroes. The application provides an intuitive and seamless experience for viewing detailed information about each hero, as well as adding and removing heroes from the list.'" [link]="'https://github.com/zLucky090802/HeroesApp'"></app-card>
            <app-card [img]="'/countryApp.webp'" [proyectCard]="true" [titleService]="'CountryApp'"  [desc]="'Discover detailed information about countries. Whether you want to search by capital city, continent, or directly by country name, our app provides comprehensive data including population.'" [link]="'https://github.com/zLucky090802/countryApp'"></app-card>
        </div>    


    </div>

    
        <div class="about-me">
            <div class="myself">
                <img src="/d62f762d08ecb0456e9f46967ba34230.webp" alt="" />
                <div class="text">
                    <h3>ABOUT ME.</h3>
                    <hr />
                    <h6>
                        Front-End Developer dedicated to crafting intuitive, engaging
                        interfaces.
                    </h6>
                    <div class="desc">
                        <p>
                            I enjoy designing captivating user experiences and expressing
                            creativity through code. Skilled in developing websites, apps, and
                            automating tasks.
                        </p>
                    </div>
                    <button>Contact Me</button>
                </div>
            </div>
            <div class="education">
                <h3>EDUCATION & SKILLS.</h3>
                <hr />
                <div class="titles-skills">
                    <div class="degrees">
                        <span>2021-2024</span>
                        <h6>
                            technical degree management of information systems and computer
                            networks
                        </h6>
                        <p>Universidad del Sinú Elías Bechara Zainúm</p>
                    </div>
                    <div class="skills">
                        <h3>My Skills</h3>
                        <div class="imgs">
                            <img class="m-1" src="/html.webp" alt="" />
                            <img class="m-1" src="/css.webp" alt="" />
                            <img class="m-1" src="/js.webp" alt="" />
                            <img class="m-1" src="/ANGULAR.webp" alt="" />
                            <img class="m-1" src="/java.webp" alt="" />
                            <img class="m-1" src="/sql.webp" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="contact" id="contact">
        <h3>Contact Me</h3>
        <hr />
        <div class="contact-info">
            <div class="contact-details">
                <p>
                    <span class="material-symbols-outlined">
                        mail
                        </span>
                    <a href="mailto:d.espitia15@gmail.com">d.espitia15&#64;gmail.com</a>
                </p>
                <p>
                    <span class="material-symbols-outlined">
                        call
                   </span>
                    <a href="tel:+57305353911">+57 305 353 911</a>
                </p>
            </div>
            <div class="social-icons">
                <a href="https://github.com/zLucky090802" target="_blank" aria-label="GitHub">
                    <img src="/github-mark-white.webp" alt="GitHub" />
                </a>
                <a href="https://www.linkedin.com/in/daniel-espitia-95848731b/" target="_blank" aria-label="LinkedIn">
                    <img src="/In-White-14.webp" alt="LinkedIn" />
                </a>
            </div>
        </div>
    </div>
    
    
    
</div>