<div class="card" *ngIf="!proyectCard">
    <div class="icon"><span class="material-symbols-outlined">
            {{icon}}
        </span></div>
    <div class="text">
        <h5>{{titleService}}</h5>
        <p>{{desc}} </p>
    </div>
</div>

<div class="cardProyect" *ngIf="proyectCard">
    <div class="cardProyect-image">
      <img [src]="img" alt="Project Image">
      <div class="overlay">
        <div class="overlay-content">
          <h3>{{titleService}}</h3>
          <p>{{desc}}</p>
          <a [href]="[link]" target="_blank"><img src="/github-mark-white.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
